.panel-button {
    -natural-hpadding: 1px;
    -minimum-hpadding: 1px;
}

.system-status-icon {
    margin: 0px 2px;
    padding: 0px 2px;
}

.wsb-panel-class-override-height {
    height: 30px !important;
    min-height: 30px !important;
}

.wsb-panel-class-override-color {
    background-color: rgba(0, 0, 0, 0.43) !important;
}



/* .wsb-container-wrapper {
} */



.wsb-ws-btn-wrapper {
    margin-right: 7px;
    padding: 0px 0px 0px 0px;
}

.wsb-container-wrapper .wsb-ws-btn-wrapper:last-child {
    margin-right: 0px;
}


.wsb-ws-num-wrapper {
    background-color: rgba(36, 31, 49, 1);
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: rgba(119, 118, 123, 1);
    padding: 0 0px 0px 0px;
}

.wsb-ws-num-wrapper-active {
    background-color: rgba(85, 46, 0, 1);
    border-color: rgba(198, 70, 0, 1);
}

.wsb-ws-num-label-elem {
    font-size: 19px;
}


.wsb-icons-wrapper {
    background-color: rgba(36, 31, 49, 1);
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(119, 118, 123, 1);
    padding: 0 3px 0px 3px;
}

.wsb-icons-wrapper-active {
    background-color: rgba(85, 46, 0, 1);
    border-color: rgba(198, 70, 0, 1);
}

.wsb-icons-wrapper-full-ws-btn-width {
    min-width: 28px;
    border-radius: 8px 8px 8px 8px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.wsb-icons-wrapper-with-ws-nums {
    min-width: 14px;
    border-radius: 0px 8px 8px 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}

.wsb-single-icon-wrapper {
    margin-right: 0px;
}

.wsb-icons-wrapper .wsb-single-icon-wrapper:last-child {
    margin-right: 0px;
}
