.wsb-panel-class-override-height {
    height: {{top-bar-height}}px !important;
    min-height: {{top-bar-height}}px !important;
}

.wsb-panel-class-override-color {
    background-color: {{top-bar-color}} !important;
}



/* .wsb-container-wrapper {
} */



.wsb-ws-btn-wrapper {
    margin-right: {{wsb-ws-btn-spacing}}px;
    padding: {{wsb-ws-btn-vert-spacing}}px 0px {{wsb-ws-btn-vert-spacing}}px 0px;
}

.wsb-container-wrapper .wsb-ws-btn-wrapper:last-child {
    margin-right: 0px;
}


.wsb-ws-num-wrapper {
    background-color: {{wsb-ws-num-inactive-color}};
    box-sizing: border-box;
    border-radius: {{wsb-ws-btn-roundness}}px 0px 0px {{wsb-ws-btn-roundness}}px;
    border-top-width: {{wsb-ws-btn-border-width}}px;
    border-right-width: 0px;
    border-bottom-width: {{wsb-ws-btn-border-width}}px;
    border-left-width: {{wsb-ws-btn-border-width}}px;
    border-style: solid;
    border-color: {{wsb-ws-btn-border-inactive-color}};
    padding: 0 {{wsb-ws-num-spacing}}px 0px {{wsb-ws-num-spacing}}px;
}

.wsb-ws-num-wrapper-active {
    background-color: {{wsb-ws-num-active-color}};
    border-color: {{wsb-ws-btn-border-active-color}};
}

.wsb-ws-num-label-elem {
    font-size: {{wsb-ws-num-font-size}}px;
}


.wsb-icons-wrapper {
    background-color: {{wsb-ws-app-icons-wrapper-inactive-color}};
    box-sizing: border-box;
    border-style: solid;
    border-color: {{wsb-ws-btn-border-inactive-color}};
    padding: 0 {{wsb-ws-app-icons-wrapper-spacing}}px 0px {{wsb-ws-app-icons-wrapper-spacing}}px;
}

.wsb-icons-wrapper-active {
    background-color: {{wsb-ws-app-icons-wrapper-active-color}};
    border-color: {{wsb-ws-btn-border-active-color}};
}

.wsb-icons-wrapper-full-ws-btn-width {
    min-width: {{wsb-ws-app-icon-size}}px;
    border-radius: {{wsb-ws-btn-roundness}}px {{wsb-ws-btn-roundness}}px {{wsb-ws-btn-roundness}}px {{wsb-ws-btn-roundness}}px;
    border-top-width: {{wsb-ws-btn-border-width}}px;
    border-right-width: {{wsb-ws-btn-border-width}}px;
    border-bottom-width: {{wsb-ws-btn-border-width}}px;
    border-left-width: {{wsb-ws-btn-border-width}}px;
}

.wsb-icons-wrapper-with-ws-nums {
    min-width: {{wsb-ws-app-icon-size-half}}px;
    border-radius: 0px {{wsb-ws-btn-roundness}}px {{wsb-ws-btn-roundness}}px 0px;
    border-top-width: {{wsb-ws-btn-border-width}}px;
    border-right-width: {{wsb-ws-btn-border-width}}px;
    border-bottom-width: {{wsb-ws-btn-border-width}}px;
    border-left-width: 0px;
}

.wsb-single-icon-wrapper {
    margin-right: {{wsb-ws-app-icon-spacing}}px;
}

.wsb-icons-wrapper .wsb-single-icon-wrapper:last-child {
    margin-right: 0px;
}